@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import "opensans_regular_polish";
@import "opensans_light_polish";

$ls-gray: #3E3F3F;
$ls-lighter-gray: #515151;
$ls-green: #499434;
$ls-menu-green: #B6D69A;

@import "normalize";

$body-font-family: 'open_sansregular', sans-serif;
@import "foundation/settings";

$base-font-size: 18px;
$rem-base: $base-font-size;

$row-width: rem-calc(700);
$paragraph-line-height: 1.4;
$h1-font-size: rem-calc(48);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(48);
$h3-font-reduction: rem-calc(6) !default;

@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/type";

$topbar-bg-color: $ls-lighter-gray;
$topbar-margin-bottom: 2rem;
$topbar-breakpoint: 750px;
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";
@import "foundation/components/top-bar";

$accordion-navigation-padding: 0;
$accordion-navigation-bg-color: white;
$accordion-navigation-font-color: $primary-color;
.accordion-navigation {
  padding: 0.5rem 0 1rem 0;
}

@import "foundation/components/accordion";

@import "foundation/components/panels";

h1 {
  font-family: 'Playfair Display SC', serif;
  color: black;
  margin: 1rem 0;
  line-height: 1;
}

body, h2, h3 {
  font-family: 'open_sanslight', sans-serif;
  color: $ls-lighter-gray;
}

h2, h3 {
  font-family: 'open_sanslight', sans-serif;
}

h2 {
  margin: 2rem 0 3rem 0;
  @media #{$medium-up} {
    margin: 3rem 0 5rem 0;
  }
}

.top-bar {
  li.name {
    img {
      padding: 5px;
      width: 45px;
    }
  }

  .top-bar-section ul {
    text-align: center;
  }
}

section {
  img {
    width: 100%;
  }

  .columns.content {
    margin-bottom: 3rem;
    @media #{$medium-up} {
      margin-bottom: 5rem;
    }
  }

  h1 {
    font-family: 'open_sansregular', sans-serif;
    margin: 3rem 0 2rem 0;
    color: $ls-green;
  }
}

header {
  .columns {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

section.contact {
  position: relative;
  @media #{$small-only} {
    height: auto;
  }
  @media #{$medium-up} {
    height: 30rem;
  }

  #map {
    display: none;
    width: 100%;
    height: 100%;
  }

  .row {
    @media #{$small-only} {

    }
    @media #{$medium-up} {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      left: 6rem;

      .columns {
        padding: 0;
        margin: 0;
      }
    }
  }

  .panel {
    background: white;
    @media #{$small-only} {
      border: none;
      padding: 0;
    }
  }

  h2 {
    margin: 1rem 0 2rem 0;
  }

  .contact-row {
    display: table;

    &:last-child {
      margin-top: -8px;
    }

    .icon-wrapper {
      display: table-cell;
      height: 2rem;
      @media #{$small-only} {
        width: 2rem;
      }
      @media #{$medium-up} {
        width: 3rem;
      }
      vertical-align: middle;

      .icon {
        max-height: 1.5rem;
        max-width: 1.5rem;
      }
    }
    .contact {
      display: table-cell;
      height: 3rem;
      vertical-align: middle;
      @media #{$small-only} {
        font-size: 0.7rem;
      }
      @media #{$medium-up} {
        font-size: 1rem;
      }
      span {
        display: block;
      }
    }
  }
}

.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: white;
  font-size: 0.7rem;
  padding: 0.5rem;

  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  span {
    display: inline-block;
    float: right;
  }
}