@import "normalize";
@import "foundation/settings";

$base-font-size: 18px;
$rem-base: $base-font-size;

$row-width: rem-calc(700);
$paragraph-line-height: 1.4;
$h1-font-size: rem-calc(48);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(48);
$h3-font-reduction: rem-calc(6) !default;

@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/panels";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Playfair+Display+SC);

$ls-gray: #3E3F3F;
$ls-lighter-gray: #515151;
$ls-green: #499434;

h1 {
  font-family: 'Playfair Display SC', serif;
  color: $ls-gray;
  margin: 1rem 0;
  line-height: 1;
}

body, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: $ls-lighter-gray;
}

h2, h3 {
  font-weight: 300;
}

h2 {
  margin: 2rem 0 3rem 0;
  @media #{$medium-up} {
    margin: 3rem 0 5rem 0;
  }
}

h3 {
  margin: 3rem 0 2rem 0;
  color: $ls-green;
}

body {
  font-weight: 400;
}

section {
  img {
    width: 100%;
  }

  &#header {
    #logo {
      width: inherit;
    }
  }

  .content {
    margin-bottom: 3rem;
    @media #{$medium-up} {
      margin-bottom: 5rem;
    }
  }
}

section#header {
  .columns {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

section#map {
  position: relative;
  height: 20rem;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .row {
    position: absolute;
    top: 2rem;
    left: 2rem;

    .columns {
      padding: 0;
      margin: 0;
    }
  }

  .panel {
    background: white;
  }

  .contact-row {
    display: block;
    .icon {
      display: inline-block;
      width: 4rem;

    }
    .icon, .content {
      display: inline-block;
    }
  }
}


