@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Playfair+Display+SC);

$ls-gray: #3E3F3F;
$ls-lighter-gray: #515151;
$ls-green: #499434;
$ls-menu-green: #B6D69A;

@import "normalize";

$body-font-family: 'Open Sans', sans-serif;
@import "foundation/settings";

$base-font-size: 18px;
$rem-base: $base-font-size;

$row-width: rem-calc(700);
$paragraph-line-height: 1.4;
$h1-font-size: rem-calc(48);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(48);
$h3-font-reduction: rem-calc(6) !default;

@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/type";

$topbar-bg-color: $ls-gray;
$topbar-margin-bottom: 2rem;
$topbar-breakpoint: 710px;
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";
@import "foundation/components/top-bar";

@import "foundation/components/panels";

h1 {
  font-family: 'Playfair Display SC', serif;
  color: $ls-gray;
  margin: 1rem 0;
  line-height: 1;
}

body, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: $ls-lighter-gray;
}

h2, h3 {
  font-weight: 300;
}

h2 {
  margin: 2rem 0 3rem 0;
  @media #{$medium-up} {
    margin: 3rem 0 5rem 0;
  }
}

h3 {
  margin: 3rem 0 2rem 0;
  color: $ls-green;
}

body {
  font-weight: 400;
}

.top-bar {
  li.name {
    img {
      padding: 5px;
      width: 45px;
    }
  }

  .top-bar-section ul {
    text-align: center;
  }
}

section {
  img {
    width: 100%;
  }

  .content {
    margin-bottom: 3rem;
    @media #{$medium-up} {
      margin-bottom: 5rem;
    }
  }
}

section.header {
  .columns {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

section.contact {
  position: relative;
  height: 20rem;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .row {
    @media #{$small-only} {

    }
    @media #{$medium-up} {
      position: absolute;
      top: 1rem;
      left: 1rem;

      .columns {
        padding: 0;
        margin: 0;
      }
    }
  }

  .panel {
    background: white;
  }

  h2 {
    margin: 1rem 0 2rem 0;
  }

  h3 {
    color: $ls-green;
  }

  .contact-row {
    display: table;

    &:last-child {
      margin-top: -8px;
    }

    .icon-wrapper {
      display: table-cell;
      height: 2rem;
      @media #{$small-only} {
        width: 2rem;
      }
      @media #{$medium-up} {
        width: 3rem;
      }
      vertical-align: middle;

      .icon {
        max-height: 1.5rem;
        max-width: 1.5rem;
      }
    }
    .contact {
      display: table-cell;
      height: 3rem;
      vertical-align: middle;
      @media #{$small-only} {
        font-size: 0.7rem;
      }
      @media #{$medium-up} {
        font-size: 1rem;
      }
      span {
        display: block;
      }
    }
  }
}
